.div-homepage {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  background-image: url("./img/back_laptop.jpeg");
  background-size: cover;
}
.button-sign {
  background-color: rgba(67, 141, 168, 255);
  border: none;
  padding: 0.3rem;
  border-radius: 7px;
}
.button-sign a {
  text-decoration: none;
  color: white;
}
