:root {
  --primary-color: rgba(69, 140, 170, 0.7);
  --primary-color-dark: rgba(69, 140, 170, 1);
  --seconary-color: #a09c9ca4;
  --seconary-color-drak: #848080;
  --text-color-light: #fff;
  --text-color-dark: #333;
}
html {
  font-family: sans-serif;
  color: var(--text-color-dark);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
h1,
h2,
h4,
h5 {
  margin: 2% 20%;
  color: var(--primary-color-dark);
  text-align: justify;
}
h3 {
  margin: 2% 20%;
  color: var(--text-color-dark);
  text-align: justify;
}
